input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
    order: 1;
}

input[type="checkbox"]:checked {
    background-color: black;
}

label {
    text-transform: uppercase;
    font-size: 12px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-image: none;
    display: block;
}

textarea {
    font-size: 12px;
    text-align: left;
    width: calc(100% - 20px - 2px);
    border-radius: 10px;
    padding: 10px;
    resize: none;
    overflow: hidden;
    height: 15em;
}

.textblock {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
}

.textblock label {
    text-align: center;
    border: 1px solid black;
    border-top: 0;
    font-size: 10px;
    width: calc(100% - 20px - 2px);
    border-radius: 0 0 10px 10px;
    padding: 4px 0;
    font-weight: bold;
}

.box {
    margin-top: 10px;
}

.label-container {
    position: relative;
    width: 100%;
    height: 18px;
    margin-top: 6px;
    border: 1px solid black;
    border-left: 0;
    text-align: center;
}


/* .label-container>label {
    position: absolute;
    left: 0;
    top: 1px;
    transform: translate(0%, 50%);
    width: 100%;
    font-size: 8px;
} */

.sheet {
    width: 1400px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.header {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    width: 800px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.charname {
    border: 1px solid black;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    padding: 5px 0;
    background-color: #eee;
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    top: 0;
    margin: auto;
}

.misc {
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
}

.misc ul {
    padding: 10px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
}

.misc ul li {
    width: 33.33333%;
    display: flex;
    flex-direction: column-reverse;
}

.misc ul li label {
    margin-bottom: 5px;
}

.misc ul li input {
    border: 0;
    border-bottom: 1px solid #ddd;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.section {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.attributes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scores {
    width: 101px;
    background-color: #bbb;
    border-radius: 10px;
    padding-bottom: 5px;
}

.scores label {
    font-size: 8px;
    font-weight: bold;
}

.scores ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.scores ul li {
    height: 80px;
    width: 70px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.scores ul li input {
    width: 100%;
    padding: 0;
    border: 0;
}

.scores ul li div.score input {
    text-align: center;
    font-size: 40px;
    padding: 2px 0px 0px 0px;
    background: white;
}

.scores ul li div.modifier {
    margin-top: 3px;
}

.scores ul li div.modifier input {
    background: white;
    width: 30px;
    height: 20px;
    border: 1px inset black;
    border-radius: 20px;
    margin: -1px;
    text-align: center;
}

.inspiration {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.inspiration input {
    appearance: none;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
}

.proficiencybonus {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.proficiencybonus input {
    width: 30px;
    height: 28px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
}

.list-section {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 5px;
}

.list-section div.label {
    margin-top: 10px;
    margin-bottom: 2.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.list-section ul li {
    display: flex;
    align-items: center;
}

.list-section ul li>* {
    margin-left: 5px;
}

.list-section ul li label {
    text-transform: none;
    font-size: 8px;
    text-align: left;
    order: 3;
}

.list-section ul li label span.skill {
    color: #bbb;
}

.list-section ul li input[type="text"] {
    width: 30px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
    order: 2;
}

.list-section ul li input[type="checkbox"] {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
    order: 1;
}

.list-section ul li input[type="checkbox"]:checked {
    background-color: black;
}

.passive-perception {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.passive-perception input {
    width: 30px;
    height: 28px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.otherprofs textarea {
    height: 26em;
}

.combat {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.armorclass,
.initiative,
.speed {
    flex-basis: 33.333%;
}

.armorclass>div,
.initiative>div,
.speed>div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10px;
}

.armorclass>div label,
.initiative>div label,
.speed>div label {
    font-size: 8px;
    width: 50px;
    border: 1px solid black;
    border-top: 0;
    background-color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 0 10px 10px;
}

.armorclass>div input,
.initiative>div input,
.speed>div input {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.hp {
    flex-basis: 100%;
}

.regular {
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    margin-bottom: 5px;
    border-radius: 10px 10px 0 0;
}

.max {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.max label {
    font-size: 10px;
    text-transform: none;
    color: #bbb;
}

.max input {
    width: 40%;
    border: 0;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    text-align: center;
}

.current {
    display: flex;
    flex-direction: column-reverse;
}

.current input {
    border: 0;
    width: 100%;
    padding: 1em 0;
    font-size: 20px;
    text-align: center;
}

.current label {
    font-size: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.temporary {
    margin: 10px;
    margin-top: 0;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
}

.temporary input {
    padding: 1em 0;
    font-size: 20px;
    border: 0;
    text-align: center;
}

.temporary label {
    font-size: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.hitdice,
.deathsave {
    flex: 1 50%;
    height: 100px;
}

.hitdice>div,
.deathsave>div {
    height: 80%;
}

.hitdice>div {
    background-color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.total {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 5px 0;
}

.total label {
    font-size: 10px;
    color: #bbb;
    margin: 0.25em;
    text-transform: none;
}

.total input {
    font-size: 12px;
    flex-grow: 1;
    border: 0;
    border-bottom: 1px solid #ddd;
    width: 50%;
    margin-right: 0.25em;
    padding: 0 0.25em;
    text-align: center;
}

.remaining {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
}

.remaining label {
    text-align: center;
    padding: 2px;
    font-size: 10px;
}

.remaining input {
    text-align: center;
    border: 0;
    flex: 1;
}

.deathsaves>div {
    margin: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.label {
    text-align: center;
}

.label label {
    font-size: 10px;
}

.marks {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.deathsuccesses,
.deathfails {
    display: flex;
    align-items: center;
}

.deathsuccesses label,
.deathfails label {
    font-size: 8px;
    text-align: right;
    flex: 1 50%;
}

.bubbles {
    flex: 1 40%;
    margin-left: 5px;
}

.attacksandspellcasting {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
}

.attacksandspellcasting>div {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.attacksandspellcasting>div>label {
    order: 3;
    text-align: center;
}

.attacksandspellcasting>div>table {
    width: 100%;
}

.attacksandspellcasting>div>table th {
    font-size: 10px;
    color: #ddd;
}

.attacksandspellcasting>div>table input {
    width: calc(100% - 4px);
    border: 0;
    background-color: #eee;
    font-size: 10px;
    padding: 3px;
}

.attacksandspellcasting>div textarea {
    border: 0;
}

.equipment {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
}

.equipment>div {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.money ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.money ul>li {
    display: flex;
    align-items: center;
}

.money ul>li label {
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    border-right: 0;
    width: 20px;
    font-size: 8px;
    text-align: center;
    padding: 3px 0;
}

.money ul>li input {
    border: 1px solid black;
    border-radius: 10px;
    width: 40px;
    padding: 10px 3px;
    font-size: 12px;
    text-align: center;
}

.equipment>div>label {
    order: 3;
    text-align: center;
    flex: 100%;
}

.equipment>div>textarea {
    flex: 1;
    border: 0;
}

.flavor {
    padding: 10px;
    background: #bbb;
    border-radius: 10px;
}

.flavor div {
    background: white;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    border: 1px solid black;
}

.flavor div label {
    text-align: center;
    font-size: 10px;
    margin-top: 3px;
}

.flavor div textarea {
    border: 0;
    border-radius: 0;
    height: 4em;
}

.flavor div:first-child {
    border-radius: 10px 10px 0 0;
}

.flavor div:not(:first-child) {
    margin-top: 10px;
}

.flavor div:last-child {
    border-radius: 0 0 10px 10px;
}

.features {
    padding: 10px;
}

.features div {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.features div label {
    text-align: center;
}

.features div textarea {
    border: 0;
    padding: 5px;
    height: 43em;
}